.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  align-items: center;
  background-color: #f4f6f9;
  max-width: 100%;
}

.filter-container {
  display: flex;
  gap: 25px;
  padding: 25px;
  align-items: center;
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5%;
  padding-left: 5%;
  background-color: #f4f6f9;
}
